In [54]:
import pandas as pd

In [55]:
datambg = pd.read_csv("data/datambg.csv")

In [56]:
datasarc = pd.read_csv("data/datasarc.csv")

In [57]:
import requests

# Unduh kamus leksikon positif dan negatif dari GitHub
positive_url = "https://raw.githubusercontent.com/fajri91/InSet/master/positive.tsv"
negative_url = "https://raw.githubusercontent.com/fajri91/InSet/master/negative.tsv"

positive_lexicon = set(pd.read_csv(positive_url, sep="\t", header=None)[0])
negative_lexicon = set(pd.read_csv(negative_url, sep="\t", header=None)[0])

# Fungsi untuk menentukan sentimen dan menghitung skornya
def determine_sentiment(text):
    if isinstance(text, str):
        positive_count = sum(1 for word in text.split() if word in positive_lexicon)
        negative_count = sum(1 for word in text.split() if word in negative_lexicon)
        sentiment_score = positive_count - negative_count
        if sentiment_score > 0:
            sentiment = "Positif"
        elif sentiment_score < 0:
            sentiment = "Negatif"
        else:
            sentiment = "Netral"
        return sentiment_score, sentiment
    return 0, "Netral"

In [58]:
datambg = pd.DataFrame(datambg['steming_data'])

In [59]:
datambg.head()

                                        steming_data
0                         makan siang gratis mending
1  bela mbak bias sekolah makan siang gratis pas ...
2  anggar dituruninnya ngopernya blog ya dicicipi...
3  karyawan industri cikarang makan siang jemput ...
4  ambil abang ya makan siang gratis ya abang rol...

In [60]:
datambg[['Score', 'Sentiment']] = datambg['steming_data'].apply(lambda x: pd.Series(determine_sentiment(x)))

In [61]:
datambg.head()

                                        steming_data  Score Sentiment
0                         makan siang gratis mending      1   Positif
1  bela mbak bias sekolah makan siang gratis pas ...      1   Positif
2  anggar dituruninnya ngopernya blog ya dicicipi...      3   Positif
3  karyawan industri cikarang makan siang jemput ...      3   Positif
4  ambil abang ya makan siang gratis ya abang rol...      2   Positif

In [62]:
del datambg['Score']

In [63]:
datambg.head()

                                        steming_data Sentiment
0                         makan siang gratis mending   Positif
1  bela mbak bias sekolah makan siang gratis pas ...   Positif
2  anggar dituruninnya ngopernya blog ya dicicipi...   Positif
3  karyawan industri cikarang makan siang jemput ...   Positif
4  ambil abang ya makan siang gratis ya abang rol...   Positif

In [64]:
datambg.tail()

                                           steming_data Sentiment
9164  usaha pulih sebentar program makan siang grati...    Netral
9165  status program makan siang gratis sumber dana ...   Negatif
9166  pemkab bima tunggu teknik program makan siang ...    Netral
9167     program makan siang gizi gratis sumbar januari   Positif
9168  tahan menteri alas super tolol menteri kabinet...    Netral

In [65]:
datasarc.head()

,tweet,tweet_cleaning,tweet_casefolding,normalisasi,label,tokenize,stopword removal,steming_data
0,Terimakasih atas pengkhianatan ini Terimakasih...,Terimakasih atas pengkhianatan ini Terimakasih...,terimakasih khianat terimakasih antipati juang...,terimakasih khianat terimakasih antipati juang...,1,"['terimakasih', 'khianat', 'terimakasih', 'ant...","['terimakasih', 'khianat', 'terimakasih', 'ant...",terimakasih khianat terimakasih antipati juang...
1,Stlh Kerajaan Kerathon Sejagad kini ada lg SUN...,Stlh Kerajaan Kerathon Sejagad kini ada lg SUN...,stlh raja kerathon sejagad lg sunda empire tol...,setelah raja kerathon sejagad lagi sunda empir...,1,"['setelah', 'raja', 'kerathon', 'sejagad', 'la...","['raja', 'kerathon', 'sejagad', 'sunda', 'empi...",raja kerathon sejagad sunda empire tolol hqq
2,Horeeee......?????? Mantaaab ?? Kelakuan bejat...,Horeeee Mantaaab Kelakuan bejat Andre Dengan m...,horeeee mantaaab laku bejat andre jebak nn ser...,horeeee mantaaab laku bejat andre jebak nn ser...,1,"['horeeee', 'mantaaab', 'laku', 'bejat', 'andr...","['horeeee', 'mantaaab', 'laku', 'bejat', 'andr...",horeeee mantaaab laku bejat andre jebak nn ser...
3,Partai Allah mah Bebas Sajadahpun boleh diinja...,Partai Allah mah Bebas Sajadahpun boleh diinja...,partai allah mah bebas sajadah diinjak2 hashtag,partai allah mah bebas sajadah diinjak2 hashtag,1,"['partai', 'allah', 'mah', 'bebas', 'sajadah',...","['partai', 'allah', 'mah', 'bebas', 'sajadah',...",partai allah mah bebas sajadah diinjak2 hashtag
4,Buat para pembenci Selamat anda dipimpin oleh ...,Buat para pembenci Selamat anda dipimpin oleh ...,benci selamat pimpin orang benci selamat nikma...,benci selamat pimpin orang benci selamat nikma...,1,"['benci', 'selamat', 'pimpin', 'orang', 'benci...","['benci', 'selamat', 'pimpin', 'orang', 'benci...",benci selamat pimpin orang benci selamat nikma...

In [66]:
datasarcastic = datasarc[['steming_data', 'label']]

In [67]:
datasarcastic['label'] = datasarcastic['label'].replace({1: 'Negatif'})

C:\Users\UMMY\AppData\Local\Temp\ipykernel_20076\3256700592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datasarcastic['label'] = datasarcastic['label'].replace({1: 'Negatif'})

In [68]:
datasarcastic2 = datasarcastic.rename(columns={'label': 'Sentiment'})

In [69]:
datasarcastic2.head()

                                        steming_data Sentiment
0  terimakasih khianat terimakasih antipati juang...   Negatif
1       raja kerathon sejagad sunda empire tolol hqq   Negatif
2  horeeee mantaaab laku bejat andre jebak nn ser...   Negatif
3    partai allah mah bebas sajadah diinjak2 hashtag   Negatif
4  benci selamat pimpin orang benci selamat nikma...   Negatif

In [70]:
datambg.to_csv("datalabel/mbglabel.csv", index=False)

In [71]:
datasarcastic2.to_csv("datalabel/sarcasticlabel.csv", index=False)