In [17]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [18]:
data1 = pd.read_csv('data/makan.csv')
data2 = pd.read_csv('data/mam.csv')
data3 = pd.read_csv('data/programmams.csv')

In [19]:
# Menggabungkan semua dataframe dalam list menjadi satu
data = pd.concat([data1, data2, data3], ignore_index=True)

In [20]:
data.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1883189741312684380,Sat Jan 25 16:26:36 +0000 2025,0,Daripada makan siang gratis mendingan ini.,1883189741312684380,NaN,NaN,in,"Banten, Indonesia",0,0,0,https://x.com/finidebriani/status/188318974131...,83586867,finidebriani
1,1883086569915232560,Sat Jan 25 16:16:05 +0000 2025,0,@vernonsipil @BANGSAygSUJUD membela mbg disebu...,1883187091938681249,NaN,vernonsipil,in,NaN,0,0,0,https://x.com/WhiteTigerXR/status/188318709193...,1856386235268530176,WhiteTigerXR
2,1883003041932300417,Sat Jan 25 16:07:31 +0000 2025,0,@idextratime makanya itu anggaran dituruninnya...,1883184937186246738,NaN,idextratime,in,NaN,0,0,0,https://x.com/smaskots/status/1883184937186246738,1158288381631090688,smaskots
3,1883184703953613092,Sat Jan 25 16:06:35 +0000 2025,0,Jadi karyawan di industri Cikarang dapat makan...,1883184703953613092,NaN,NaN,in,NaN,0,0,0,https://x.com/annartelier/status/1883184703953...,1531300105844068353,annartelier
4,1882806044201750794,Sat Jan 25 15:58:57 +0000 2025,0,@excettra Jangan jangan diambil abang ya makan...,1883182780517081290,NaN,excettra,in,NaN,0,1,0,https://x.com/Licelalissa/status/1883182780517...,2562463639,Licelalissa

In [21]:
data.tail()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
12466,1849373172531077573,Thu Oct 24 13:22:22 +0000 2024,0,@inilahdotcom Usaha ini akan pulih sebentar la...,1849441303781925012,NaN,inilahdotcom,in,NaN,0,0,0,https://x.com/__nyai__/status/1849441303781925012,710653443287994369,__nyai__
12467,1849438330183733325,Thu Oct 24 13:10:33 +0000 2024,3,Status program makan siang gratis itu sumber d...,1849438330183733325,NaN,NaN,in,Any where any place,1,0,1,https://x.com/Nndraee07/status/184943833018373...,1521967420889477121,Nndraee07
12468,1849436318918733865,Thu Oct 24 13:02:33 +0000 2024,0,Pemkab Bima Tunggu Petunjuk Teknik tentang Pro...,1849436318918733865,NaN,NaN,in,"Nusa Tenggara Barat, Indonesia",0,0,1,https://x.com/IDNTimesNTB/status/1849436318918...,1318858445940875264,IDNTimesNTB
12469,1849435458297864663,Thu Oct 24 12:59:08 +0000 2024,1,Program Makan Siang Bergizi Gratis di Sumbar B...,1849435458297864663,NaN,NaN,in,"Sumatera Selatan, Indonesia",0,0,1,https://x.com/IDNTimesSumsel/status/1849435458...,1318860486759182336,IDNTimesSumsel
12470,1849340163518079036,Thu Oct 24 12:45:29 +0000 2024,0,@Sagita81774027 Pak @prabowo masih tetap mempe...,1849432021925540154,NaN,Sagita81774027,in,Indonesia,0,0,0,https://x.com/Gunawan53722139/status/184943202...,920096674227281920,Gunawan53722139

In [22]:
len(data)

12471

In [23]:
# Menghapus semua kolom selain 'full_text'
data = data.drop(columns=[col for col in data.columns if col != 'full_text'])

In [24]:
data.head()

                                           full_text
0         Daripada makan siang gratis mendingan ini.
1  @vernonsipil @BANGSAygSUJUD membela mbg disebu...
2  @idextratime makanya itu anggaran dituruninnya...
3  Jadi karyawan di industri Cikarang dapat makan...
4  @excettra Jangan jangan diambil abang ya makan...

In [25]:
data.tail()

                                               full_text
12466  @inilahdotcom Usaha ini akan pulih sebentar la...
12467  Status program makan siang gratis itu sumber d...
12468  Pemkab Bima Tunggu Petunjuk Teknik tentang Pro...
12469  Program Makan Siang Bergizi Gratis di Sumbar B...
12470  @Sagita81774027 Pak @prabowo masih tetap mempe...

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12471 entries, 0 to 12470
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   full_text  12471 non-null  object
dtypes: object(1)
memory usage: 97.6+ KB

In [27]:
len(data)

12471

In [28]:
data.isna().sum()

full_text    0
dtype: int64

In [29]:
data.duplicated().sum()

np.int64(3302)

In [30]:
data.drop_duplicates(inplace=True)

In [35]:
# Ubah nama kolom 'full_text' jadi 'tweet'
data = data.rename(columns={'full_text': 'tweet'})

In [31]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\UMMY\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [36]:
data.head()

                                               tweet
0         Daripada makan siang gratis mendingan ini.
1  @vernonsipil @BANGSAygSUJUD membela mbg disebu...
2  @idextratime makanya itu anggaran dituruninnya...
3  Jadi karyawan di industri Cikarang dapat makan...
4  @excettra Jangan jangan diambil abang ya makan...

In [37]:
def clean_tweet(tweet):
    # Remove usernames after '@'
    tweet = re.sub(r'@\w+', '', tweet)
    # Remove URLs
    tweet = re.sub(r'http\S+', '', tweet)
    # Remove punctuation and special symbols (commas, periods, etc.)
    tweet = re.sub(r'[^\w\s]', '', tweet)
    # Remove extra whitespace
    tweet = re.sub(r'\s+', ' ', tweet).strip()
    # Remove any zero-width characters like 'ã…¤'
    tweet = re.sub(r'[\u200B-\u200D\uFEFF\u3164]+', '', tweet)
    return tweet

In [38]:
data['tweet'] = data['tweet'].apply(clean_tweet)

In [39]:
data.iloc[0,0]

'Daripada makan siang gratis mendingan ini'

In [40]:
stop_words = set(stopwords.words("indonesian"))

In [41]:
factory = StemmerFactory()
lemmatizer = factory.create_stemmer()

In [42]:
def remove_stopwords(tweet):
    tweet = tweet.lower()
     #Tokenize and remove stop words
    words = [word for word in tweet.split() if word not in stop_words]
    # Apply lemmatization
    lemmatized_words = [lemmatizer.stem(word) for word in words]
    return ' '.join(lemmatized_words)

In [44]:
data['tweet'] = data['tweet'].apply(remove_stopwords)

In [45]:
data.head()

                                               tweet
0                         makan siang gratis mending
1  bela mbg bias kok lu lu gak anak2 sekolah bs m...
2  anggar dituruninnya ngopernya blog ya dicicipi...
3  karyawan industri cikarang makan siang jemput ...
4  ambil abang ya makan siang gratis nya abang ro...

In [46]:
# Define a regex pattern to keep rows that contain mainly alphabetic characters and spaces
pattern = r'^[a-zA-Z\s]+$'

# Filter out rows that don't match this pattern
data = data[data['tweet'].str.match(pattern, na=False)]

In [55]:
data['label'] = ""

In [56]:
data.head()

                                               tweet label
0                         makan siang gratis mending
2  anggar dituruninnya ngopernya blog ya dicicipi...
3  karyawan industri cikarang makan siang jemput ...
4  ambil abang ya makan siang gratis nya abang ro...
5  ampe males gua ngomenin wasit model gtuan ksi ...

In [57]:
data.to_csv("datamakansianggratis.csv", index=False)